<h4>Compra tus prendas y disfruta!</h4>
<div class="container">
	<app-card-event [event]="cardEvent"></app-card-event>
	<ng-container [ngSwitch]="statusBuy">
		<mat-card *ngSwitchDefault class="container-card custom-card">
			<mat-card-content class="card-content flex-column">
				<div>
					<span class="title">Acerca de la prenda</span><br /><br />
					<span>
						{{ cardEvent?.description }}
					</span>
				</div>

				<div class="price">
					<div class="price__value">
						<span>Precio:</span>
						<!-- <span>{{ 50 | number: '.2-2' }}</span> -->
						<span>{{ cardEvent?.price | currency : 'PEN' : 'symbol' : '.2-2' }}</span>
					</div>
					<button mat-raised-button color="accent" (click)="clickBuy('BUY')">COMPRAR PRENDA</button>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card *ngSwitchCase="'BUY'" class="container-card-buy custom-card">
			<mat-card-content class="container-card-buy-content flex-column">
				<div class="header">
					<span class="title">{{ cardEvent?.nombre }}</span>
					<div class="header__price">
						<span>PRECIO:</span>
						<span>{{ cardEvent?.price | currency : 'PEN' : 'symbol' : '.2-2' }}</span>
					</div>
				</div>

				<div>
					<mat-form-field appearance="outline">
						<mat-label>Cantidad de prendas</mat-label>
						<input
							matInput
							type="number"
							autocomplete="off"
							min="1"
							[(ngModel)]="numberEntries"
							(input)="inputCalculate()"
						/>
					</mat-form-field>

					<h3>Total: {{ total | currency : 'PEN' : 'symbol' : '.2-2' }}</h3>
				</div>

				<button mat-raised-button color="accent" (click)="clickBuy('VOUCHER')">PAGAR</button>
			</mat-card-content>
		</mat-card>

		<mat-card *ngSwitchCase="'VOUCHER'" class="card-buy-total custom-card">
			<mat-card-content class="container-card-total-content flex-column">
				<div>
					<span class="title">VOUCHER</span>

					<div class="container-card-total-content__item flex-column">
						<span>Nro. Operacion</span>
						<span style="color: red;">{{ voucher?.numeroOperacion }} </span>
					</div>
					<div class="container-card-total-content__item flex-column">
						<span>Cliente</span>
						<span style="color: red;">{{ voucher?.fullName }}</span>
					</div>

					<div class="container-card-total-content__item flex-column">
						<span>Nro. prendas</span>
						<span style="color: red;">{{ voucher?.cantidad }}</span>
					</div>

					<div class="container-card-total-content__item flex-column">
						<span>Fecha de Pago</span>
						<span style="color: red;">{{ voucher?.saleDate | date:'yyyy-MM-dd'  }}</span>
					</div>
				</div>

				<div class="container-card-total-content__total">
					<h3>TOTAL:</h3>
					<h3>{{ voucher?.total | currency : 'PEN' : 'symbol' : '.2-2' }}</h3>
				</div>
			</mat-card-content>
		</mat-card>
	</ng-container>
</div>
